<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sjtu.se.Meet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name="sjtu.se.Activity.Search.Search"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--action android:name="android.nfc.action.NDEF_DISCOVERED" /-->
                <!--data android:mimeType="application/sjtu.se.Meet" /-->

            </intent-filter>
        </activity>

        <activity
            android:name="sjtu.se.Activity.Setting.SystemSettings"
            android:label="@string/title_activity_system_settings"
            android:parentActivityName="sjtu.se.Activity.Search.Search" >
        </activity>

        <activity
            android:name="sjtu.se.Activity.Information.ContactInfoSettings"
            android:label="@string/title_activity_contact_information">
        </activity>

        <activity
            android:name="sjtu.se.Activity.Information.EducationInfoSettings"
            android:label="@string/title_activity_education_information" >
        </activity>

        <activity
            android:name="sjtu.se.Activity.Information.HobbyInfoSettings"
            android:label="@string/title_activity_hobby_information">
        </activity>

        <activity
            android:name="sjtu.se.Activity.Information.ShowInformation"
            android:label="@string/title_activity_show_information"
            android:parentActivityName="sjtu.se.Activity.Search.Search" >
        </activity>

        <activity
            android:name="sjtu.se.Activity.Want.ShowWants"
            android:label="@string/title_activity_show_wants">
        </activity>

        <activity
            android:name="sjtu.se.Activity.ChatPlatform.ChatActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="sjtu.se.Activity.Search.Search" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="sjtu.se.Activity.Search.Search" />
        </activity>

        <service android:name="sjtu.se.Util.TaskService" >
        </service>

        <activity
            android:name="sjtu.se.Ubma.ActiveTimeActivity"
            android:label="使用手机时间" />
        <activity android:name="sjtu.se.Ubma.AllAppsActivity" />

        <activity
            android:name="sjtu.se.Ubma.UbmaActivity"
            android:label="用户行为分析" />

        <service android:name="sjtu.se.Ubma.MonitorService" />

        <activity
            android:name="sjtu.se.Ubma.UbmaDrawerActivity"
            android:label="@string/title_activity_ubma_drawer" >
        </activity>
    </application>

</manifest>
